<?xml version="1.0"?>
<configuration>
  <appSettings> 
    <add key="IPAddress" value="127.0.0.1"/>
    <add key="Port" value="2005"/> 
    <add key="CacheMSSQLParameters" value="true"/>
    <add key="MSSQLConnectionString" value="server=MSDC\SQLEXPRESS;database=NetworkCommsIM;uid=sa;pwd=123456"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
