<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrganizationInfoService" />
                <binding name="BasicHttpBinding_IRoleService" />
                <binding name="BasicHttpBinding_IFunctionInfoService" />
                <binding name="BasicHttpBinding_IMenuInfoService" />
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_IOrgPositionsService" />
                <binding name="BasicHttpBinding_IUserInfoService" />
                <binding name="BasicHttpBinding_IMsgSendOrderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3381/FunctionInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunctionInfoService"
                contract="FunctionInfoSer.IFunctionInfoService" name="BasicHttpBinding_IFunctionInfoService" />
            <endpoint address="http://localhost:3381/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="LoginSer.ILoginService"
                name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://localhost:3381/MenuInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuInfoService"
                contract="MenuInfoSer.IMenuInfoService" name="BasicHttpBinding_IMenuInfoService" />
            <endpoint address="http://localhost:3381/OrganizationInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizationInfoService"
                contract="OrganizationInfoSer.IOrganizationInfoService" name="BasicHttpBinding_IOrganizationInfoService" />
            <endpoint address="http://localhost:3381/RoleService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoleService" contract="RoleSer.IRoleService"
                name="BasicHttpBinding_IRoleService" />
            <endpoint address="http://localhost:3381/OrgPositionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrgPositionsService"
                contract="OrgPositionsSer.IOrgPositionsService" name="BasicHttpBinding_IOrgPositionsService" />
            <endpoint address="http://localhost:3381/UserInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInfoService"
                contract="UserInfoSer.IUserInfoService" name="BasicHttpBinding_IUserInfoService" />
            <endpoint address="http://localhost:3381/MsgSendOrderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMsgSendOrderService"
                contract="MsgSendOrderSer.IMsgSendOrderService" name="BasicHttpBinding_IMsgSendOrderService" />
        </client>
    </system.serviceModel>
</configuration>